.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2B35;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;

}